<header class="header">
    <div class="header-nav" id="sticky-nav">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-padding-y align-middle">
                <div class="cell small-auto shrink">
                    <a href="https://www.checkov.io/" target="_blank" class="logo-wrapper">
                        {% include checkov.svg %}
                        <span class="show-for-sr">Checkov home</span>
                    </a>
                </div>
                <div class="cell large-auto show-for-large shrink main-nav align-middle">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="/1.Welcome/Quick%20Start.html">Docs</a>
                            <ul class="menu">
                                <li>
                                    <a href="/1.Welcome/Quick%20Start.html">Quick start</a>
                                </li>
                                <li>
                                    <a href="/1.Welcome/What%20is%20Checkov.html">Overview</a>
                                </li>
                                <li>
                                    <a href="/1.Welcome/Feature%20Descriptions.html#integrating-with-cicd">Integrations</a>
                                </li>
                            </ul>
                        </li>

                        <li class="github-stars">
                            <a href="https://www.github.com/bridgecrewio/checkov" target="_blank">
                                <svg class="icon">
                                    <use xlink:href="#github-logo"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="button-container">
                            <a href="/1.Welcome/Quick%20Start.html" class="button primary rounded">Download</a>
                        </li>
                    </ul>
                </div>
                <div class="cell small-auto hide-for-large shrink hamburger align-middle">
                    {% include hamburger.html %}
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-nav hide-for-large">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-padding-y align-middle">
                <div class="cell small-auto align-middle">
                    <ul class="accordion-menu vertical menu" data-accordion-menu>
                        <li>
                            <a href="/1.Welcome/Quick%20Start.html">Docs</a>
                            <ul class="menu">
                                <li>
                                    <a href="/1.Welcome/Quick%20Start.html">Quick start</a>
                                </li>
                                <li>
                                    <a href="/1.Welcome/What%20is%20Checkov.html">Overview</a>
                                </li>
                                <li>
                                    <a href="/1.Welcome/Feature%20Descriptions.html#integrating-with-cicd">Integrations</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
