.header-bridgecrew {
  position: relative;
  background: $dark-gray;

  .utility-nav {
    li {
      a {
        color: $secondary-color;
      }
    }
  }
}

.header-nav {
  min-height: 90px;
  margin-bottom: 1rem;

  .main-nav {
    margin-left: auto;
  }

  .menu {
    align-items: center;

    .github-stars {
      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
      }

      &__count {
        .icon {
          max-height: 12px;
          max-width: 24px;
        }
      }
    }

    .button-container {
      padding: 0.7rem 0 0.7rem 1rem;

      .button {
        padding: 8px 24px;
      }
    }
  }
}

.submenu {
  border: 0;
  border-radius: 8px;
}

#sticky-nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid $white;
  transition: background .1s ease-in-out;

  &.sticky {
    position: fixed;
    top: 0;
    background: $white;
  }
}

body.home {
  #sticky-nav {
    &:not(.sticky) {
      .menu {
        a {
          color: $white;

          svg.icon {
            fill: none !important;
            stroke: $white !important;
          }
        }
      }

      .menu-item-has-children {
        .submenu {
          a {
            color: $primary-color;
          }
        }
      }

      .button {
        &.primary {
          background: $white;
          color: $primary-color;
          border: 1px solid $white;

          &:hover {
            background: $dark-gray;
          }
        }
        &.gray {
          background: transparent;
          color: $white;
          border: 1px solid $white;

          &:hover {
            background: $white;
            color: $primary-color;
          }
        }
      }

      .logo-wrapper {
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}