<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    {% include head.html %}

</head>

{% include header.html %}

<body class="home" role="document">

<div class="wy-grid-for-nav">

    <div class="main-content">
        <section class="home-hero">
            <div class="grid-container">
                <div class="grid-x grid-padding-y grid-padding-x">
                    <div class="cell medium-6 home-hero__content">
                        <h1 class="home-hero__content-title">Policy-as-code for Everyone</h1>
                        <p class="home-hero__content-subtitle">Checkov evaluates cloud infrastructure configurations and finds misconfigurations before they are deployed.</p>
                        <p class="home-hero__content-content">Checkov uses a common command line interface to manage and observe infrastructure-as-code scan results across platforms such as Terraform, CloudFormation, Kubernetes, Helm, ARM Templates and Serverless framework.</p>
                        <a href="/documentation" class="button white rounded">Get started<svg class="icon"><use xlink:href="#right-arrow"></use></svg></a>
                    </div>
                    <div class="cell medium-6 home-hero__media">
                        <figure class="home-hero__media-image" style="background-image: url({{site.baseurl}}/assets/img/herocli.jpg)">
                            <img src="{{site.baseurl}}/assets/img/herocli.jpg" alt="Checkov command line interface" class="show-for-sr" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="home-hero__bg">
                <span class="circle circle_1"></span>
                <span class="circle circle_2"></span>
                <span class="circle circle_3"></span>
            </div>
        </section>

        <section class="home-cta">
            <div class="grid-container">
                <div class="grid-x grid-padding-x grid-padding-y align-center home-hero__cta-container">
                    <div class="cell small-auto shrink" style="max-width: 100%;">
                        <a href="#" class="button gray rounded home-cta__anchor">Introducing Checkov 2.0! Read about the biggest update to Checkov on our blog.</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-supported">
            <div class="grid-container">
                <div class="grid-x grid-padding-x grid-padding-y align-middle home-supported__container">
                    <div class="cell medium-5 medium-offset-1 medium-order-2 home-supported__content">
                        <h2 class="home-supported__title">Supported Clouds and Frameworks</h2>
                        <p class="home-supported__subtitle subtitle">
                            Verify changes to hundreds of supported resource types in all major cloud providers.
                        </p>
                        <p class="home-supported__text">
                            Checkov supports developers using Terraform, Terraform plan, CloudFormation, Kubernetes, ARM Templates, Serverless, Helm, CDK.
                        </p>
                    </div>
                    <div class="cell medium-6 medium-order-1">
                        <figure class="home-supported__image">
                            <img src="{{site.baseurl}}/assets/img/supported.png" />
                        </figure>
                    </div>
                </div>
            </div>
            <figure class="waves-container" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 500" class="waves"><path d="M-126.16,60.77C-562.86,48.89-879,439.5-879,439.5H1857s-459.89-175.85-768.75-188.74c-215.37-9-331.6,66.63-549.4,53.24C254.85,286.54,250.89,71-126.16,60.77Z" style="fill:#d5dbeb"/><path d="M-127.16,114.57C-563.86,102.69-880,493.31-880,493.31H1856s-459.89-175.85-768.75-188.74c-215.37-9-331.6,66.63-549.4,53.24C253.85,340.34,249.89,124.83-127.16,114.57Z" style="fill:#dbe1ee"/><path d="M-123.16,165.57C-559.86,153.69-876,544.31-876,544.31H1860s-459.89-175.85-768.75-188.74c-215.37-9-331.6,66.63-549.4,53.24C257.85,391.34,253.89,175.83-123.16,165.57Z" style="fill:#e4e8f2"/><path d="M-126.16,219.57C-562.86,207.69-879,598.31-879,598.31H1857s-459.89-175.85-768.75-188.74c-215.37-9-331.6,66.63-549.4,53.24C254.85,445.34,250.89,229.83-126.16,219.57Z" style="fill:#f0f2f8"/></svg>
            </figure>
        </section>

        <section class="value-prop">
            <div class="grid-container">
                <div class="grid-x grid-padding-y grid-padding-x value-prop__container">
                    <div class="cell small-12 text-center align-center-middle">
                        <h2 class="value-prop__heading">Fully-featured policy-as-code</h2>
                    </div>
                </div>
                <div class="grid-x grid-padding-y grid-padding-x value-prop__columns">
                    <div class="cell medium-6 value-prop__accordion">
                        <ul class="accordion" data-accordion>
                            <li class="accordion-item is-active" data-accordion-item>
                                <a href="#" class="accordion-title">Attribute-based policies</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>
                                        Scan cloud resources in build-time for misconfigured attributes with a simple Python policy-as-code framework.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">Graph-based policies</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>
                                        Analyze relationships between cloud resources using Checkov’s graph-based YAML policies.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">Live Terminal Execution</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>
                                        Execute, test, and modify runner parameters in the context of a subject repository CI/CD and version control integrations.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title">Extensible policy management interfaces</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>
                                        Extend Checkov to define your own custom policies, providers, and suppressions terms.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cell medium-6">
                        <ul class="fade-carousel value-prop__carousel">
                            <li class="slick-item">
                                <img src="{{site.baseurl}}/assets/img/value_prop_1.png" alt="Checkov CLI screenshot" />
                            </li>
                            <li class="slick-item">
                                <img src="{{site.baseurl}}/assets/img/value_prop_2.png" alt="Checkov CLI screenshot" />
                            </li>
                            <li class="slick-item">
                                <img src="{{site.baseurl}}/assets/img/value_prop_3.png" alt="Checkov CLI screenshot" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

{% include footer.html %}

<script>var base_url = '{{ baseurl }}';</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript" defer>
    hljs.initHighlightingOnLoad();
</script>

<!-- Build Date: {{ site.time | date: "%Y-%m-%d %H:%M" }} -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "type": "opt-in",
            "content": {
                "href": "https://bridgecrew.io/privacy-policy/"
            },
            onInitialise: function (status) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', '{{ site.google_analytics }}');
                }
            },

            onStatusChange: function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', '{{ site.google_analytics }}');
                }
            },

            onRevokeChoice: function() {
                var type = this.options.type;
                if (type == 'opt-in') {
                    // disable cookies
                    clearCookie('_ga','.mysite.fr','/');
                    clearCookie('_gat_gtag_{{ site.google_analytics }}','.mysite.fr','/');
                    clearCookie('_gid','.mysite.fr','/');
                    // Get an array of cookies
                    var arrSplit = document.cookie.split(";");
                    for(var i = 0; i < arrSplit.length; i++)
                    {
                        var cookie = arrSplit[i].trim();
                        var cookieName = cookie.split("=")[0];
                        // If the prefix of the cookie's name matches the one specified, remove it
                        if(cookieName.indexOf("ssupp.") === 0) {
                            // Remove the cookie
                            document.cookie = cookieName + "=; Max-Age=-99999999;";
                        }
                    }
                }
            },
        }
    )
    ;
</script>
</body>
</html>
